<p> (x<sub>1</sub> +x<sub>2</sub>)<sup>2</sup> =
    x<sub>1</sub><sup>2</sup> +x<sub>2</sub><sup>2</sup> + 
    2x<sub>1</sub>x<sub>2</sub></p>
    <p>2H<sub>2</sub> + 0<sub>2</sub> = 2 H<sub>2</sub>0